body {
    max-width: 30rem;
    background-color: mintcream;
    color: darkolivegreen;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 20px;
}

html {
    font-size: 100%;
}

h1 {
    color: red;
    background-color: yellow;
}

.our-div {
    text-align: right;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.paragraph-one {
    font-size: 2rem;
}

.paragraph-two {
    font-size: 2rem;
}

.paragraph-three {
    font-size: 2rem;
}
.paragraph-four {
    font-size: 2rem;
}
